/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

* {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  font-weight: normal; }

ul {
  list-style-type: none; }

.wrapper {
  height: 1308px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0px;
  border-bottom: 8px solid #90d371; }

.header-wrapper {
  width: 930px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100px; }

#header-info {
  border-bottom: 1px solid #ddd;
  height: 50px;
  border-top: 4px solid #90d371; }

#header {
  height: 50px;
  padding: 0px;
  margin-bottom: 50px;
  vertical-align: baseline;
  line-height: 24px;
  display: inline-block;
  border-right: 1px solid #ddd; }

#logo {
  font-size: 24px;
  font-weight: normal;
  display: block;
  width: 200px;
  font-family: 'Leckerli One', cursive;
  margin: 0px;
  line-height: 50px;
  color: #90d371;
  cursor: pointer; }

#right-header {
  float: right;
  display: block;
  width: 422px;
  height: 50px; }

#user_name {
  float: right;
  margin: 0px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  line-height: 50px; }

#right-header a {
  text-decoration: none;
  color: #444444; }

#right-header a:hover {
  color: #557C3C;
  background: #f8f8f8; }

#navigation {
  float: left;
  height: 50px;
  margin: 0px;
  margin-left: 58px;
  line-height: 50px; }

#navigation ul {
  list-style-type: none; }

.nav-link {
  display: block;
  float: left;
  padding: 0 15px;
  border: solid 1px #ddd;
  border-width: 0 0 0 1px; }

#right-header ul li {
  display: inline;
  list-style: none; }

.content-wrapper {
  width: 930px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  height: 1100px; }

#content {
  margin: 0 auto;
  border: 1px solid #ddd;
  float: right;
  width: 649px;
  height: 1000px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ddd; }

#sort {
  padding: 18px 30px;
  border-bottom: 1px solid #ddd; }

h3 {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #444444;
  display: inline-block; }

.button_right {
  float: right;
  display: inline-block;
  margin-top: 20px; }

.button_save {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 28px;
  border: 0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0 15px;
  text-decoration: none;
  background: #e5e5e5;
  color: #444;
  border-bottom-color: #bfbfbf;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  text-align: center; }

.button_save:hover {
  color: #557C3C; }

#left {
  width: 249px;
  float: left;
  margin-right: 30px; }

.left-nav {
  padding-left: 0px;
  line-height: 24px; }

.left-nav a {
  color: #b7b7b7;
  text-decoration: none;
  line-height: 24px;
  display: block; }

.left-nav a:hover {
  color: #557C3C;
  background: #e5e5e5; }

.title {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-left: 20px;
  margin-left: 0px;
  color: #838383; }

th, td {
  text-align: left;
  padding: 5px;
  color: #838383; }

th {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px; }

table {
  width: 100%; }

#quantity {
  width: 20px;
  text-align: center; }

#master {
  background-color: #f8f8f8; }

.sorted {
  color: #838383;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block; }

.sorted:hover {
  color: #557C3C; }

#row {
  line-height: 20px; }

#sort p {
  color: #838383;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  margin: 0px; }

#current_sort {
  text-decoration: none;
  font-weight: bold; }

#product-table {
  padding: 18px 30px; }

.banner {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

#welcome {
  font-size: 16px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 40px; }

#loginbutton {
  margin-top: 15px; }

#createuserbutton {
  margin-top: 20px; }

.banner #session_email {
  width: 350px;
  margin-left: 30px; }

.banner #session_password {
  width: 350px;
  margin-left: 7px; }

.banner {
  color: #838383; }

.banner a {
  color: #444444; }

.footer-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-top: 20px;
  border-top: 1px solid #ddd; }

#footer {
  height: 60px;
  text-align: center; }
* {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  font-weight: normal; }

ul {
  list-style-type: none; }

.wrapper {
  height: 1308px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0px;
  border-bottom: 8px solid #90d371; }

.header-wrapper {
  width: 930px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100px; }

#header-info {
  border-bottom: 1px solid #ddd;
  height: 50px;
  border-top: 4px solid #90d371; }

#header {
  height: 50px;
  padding: 0px;
  margin-bottom: 50px;
  vertical-align: baseline;
  line-height: 24px;
  display: inline-block;
  border-right: 1px solid #ddd; }

#logo {
  font-size: 24px;
  font-weight: normal;
  display: block;
  width: 200px;
  font-family: 'Leckerli One', cursive;
  margin: 0px;
  line-height: 50px;
  color: #90d371;
  cursor: pointer; }

#right-header {
  float: right;
  display: block;
  width: 422px;
  height: 50px; }

#user_name {
  float: right;
  margin: 0px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  line-height: 50px; }

#right-header a {
  text-decoration: none;
  color: #444444; }

#right-header a:hover {
  color: #557C3C;
  background: #f8f8f8; }

#navigation {
  float: left;
  height: 50px;
  margin: 0px;
  margin-left: 58px;
  line-height: 50px; }

#navigation ul {
  list-style-type: none; }

.nav-link {
  display: block;
  float: left;
  padding: 0 15px;
  border: solid 1px #ddd;
  border-width: 0 0 0 1px; }

#right-header ul li {
  display: inline;
  list-style: none; }

.content-wrapper {
  width: 930px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  height: 1100px; }

#content {
  margin: 0 auto;
  border: 1px solid #ddd;
  float: right;
  width: 649px;
  height: 1000px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ddd; }

#sort {
  padding: 18px 30px;
  border-bottom: 1px solid #ddd; }

h3 {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #444444;
  display: inline-block; }

.button_right {
  float: right;
  display: inline-block;
  margin-top: 20px; }

.button_save {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 28px;
  border: 0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0 15px;
  text-decoration: none;
  background: #e5e5e5;
  color: #444;
  border-bottom-color: #bfbfbf;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  text-align: center; }

.button_save:hover {
  color: #557C3C; }

#left {
  width: 249px;
  float: left;
  margin-right: 30px; }

.left-nav {
  padding-left: 0px;
  line-height: 24px; }

.left-nav a {
  color: #b7b7b7;
  text-decoration: none;
  line-height: 24px;
  display: block; }

.left-nav a:hover {
  color: #557C3C;
  background: #e5e5e5; }

.title {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-left: 20px;
  margin-left: 0px;
  color: #838383; }

th, td {
  text-align: left;
  padding: 5px;
  color: #838383; }

th {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px; }

table {
  width: 100%; }

#quantity {
  width: 20px;
  text-align: center; }

#master {
  background-color: #f8f8f8; }

.sorted {
  color: #838383;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block; }

.sorted:hover {
  color: #557C3C; }

#row {
  line-height: 20px; }

#sort p {
  color: #838383;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  display: block;
  float: left;
  margin: 0px; }

#current_sort {
  text-decoration: none;
  font-weight: bold; }

#product-table {
  padding: 18px 30px; }

.banner {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

#welcome {
  font-size: 16px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 40px; }

#loginbutton {
  margin-top: 15px; }

#createuserbutton {
  margin-top: 20px; }

.banner #session_email {
  width: 350px;
  margin-left: 30px; }

.banner #session_password {
  width: 350px;
  margin-left: 7px; }

.banner {
  color: #838383; }

.banner a {
  color: #444444; }

.footer-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-top: 20px;
  border-top: 1px solid #ddd; }

#footer {
  height: 60px;
  text-align: center; }
