	<div id="header-info">
		<div class="header-wrapper">
			<div id="header">
				<h1 id="logo">
					CafeInventory
				</h1>
			</div>
			<div id="right-header">
				<h4 id="user_name"> 
				</h4>
			</div>
		</div>
	</div>