<div class="wrapper">
	<%= render "shared/header" %>
	<div class="content-wrapper">
			<div id="content">
				<div id="sort">					
					<h3>Contact</h3>
					<div class="button_right">
					</div>
					
				</div>
				<div id="product-table">
					<%= mail_to "maleesapollock@gmail.com" %>
				</div>
			</div>
		<%= render "shared/leftcolumn" %>
	</div>
<%= render "shared/footer" %>
</div>